/*
Components Banner

Styleguide 2.banner
*/

// Colour variables used in this paragraph
$d-p-banner-header-color: $color-odysseus !default;
$d-p-banner-subheader-color: $color-odysseus !default;
$d-p-banner-text-color: $color-odysseus !default;
$d-p-banner-background-overlay: $color-cassandra !default;
$d-p-banner-line-color: $color-odysseus !default;

// Margins, paddings and sizes.
$d-p-banner-text-line-height: 1.7 !default;
$d-p-banner-button-margin-top: 4.375rem !default;
$d-p-banner-padding-top: 18.5% !default;
$d-p-banner-padding-bottom: 14.5% !default;
$d-p-banner-mobile-padding-top: 6.25rem !default;
$d-p-banner-mobile-padding-bottom: 6.25rem !default;
$d-p-banner-line-margin-top: $line-center-margin-top !default;
$d-p-banner-line-margin-bottom: $line-center-margin-bottom !default;

// Other settings
$d-p-banner-img-opacity: 0.5 !default;
$d-p-banner-subheader-opacity: 0.7 !default;

.d-p-banner {
  background: $d-p-banner-background-overlay;
  color: $d-p-banner-text-color;
  z-index: 0;
  text-align: center;
  .content > h2 {
    @include font-main-header-big;
    color: $d-p-banner-header-color;
    text-align: center;
    text-transform: uppercase;
  }
  .field--name-field-d-icon {
    text-align: center;
  }
  h3.field--name-field-d-subtitle {
    @include font-subtitle;
    text-align: center;
    color: $d-p-banner-subheader-color;
    opacity: $d-p-banner-subheader-opacity;
  }
  p {
    @include font-body-standard;
    text-align: center;
    line-height: $d-p-banner-text-line-height;
  }
  .field--type-link {
    text-align: center;
    a {
      margin-top: $d-p-banner-button-margin-top;
    }
  }
  h2 + .field--type-link,
  h3 + .field--type-link,
  .field--name-field-d-long-text {
    p {
      color: $d-p-banner-text-color;
      word-wrap: break-word;
      hyphens: auto;
    }
    &:before {
      @include decoration-header-line-main-center;
      background: $d-p-banner-line-color;
      margin-top: $d-p-banner-line-margin-top;
      margin-bottom: $d-p-banner-line-margin-bottom;
    }
  }
  .backstretch-item {
    img {
      opacity: $d-p-banner-img-opacity;
      @include media-breakpoint-down(sm) {
        max-width: none;
        width: 100%;
        overflow: hidden;
      }
    }
  }
  .content-wrapper {
    width: 100%;
    padding-top: $d-p-banner-padding-top;
    padding-bottom: $d-p-banner-padding-bottom;
    @include media-breakpoint-down(sm) {
      padding-top: $d-p-banner-mobile-padding-top;
      padding-bottom: $d-p-banner-mobile-padding-bottom;
    }
  }
}
