.node--type-d-product {
  .main-content {
    .node__content {
      .header {
        .title {
          margin-top: 0.8rem;
          margin-bottom: 1.3rem;
          h1 {
            font-size: 1.8rem;
            @include media-breakpoint-up(md) {
              font-size: 2rem;
            }
          }
        }
      }
      .section-images {
        .slider-main {
          a {
            &:focus {
              outline: none;
            }
            img {
              height: auto;
            }
          }
        }
      }
      .section-data {
        display: block;
        @include media-breakpoint-up(lg) {
          padding-left: 0;
        }
        .field__label {
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.2rem;
          color: $black;
          margin: 0 0 0.6rem 0;
        }
        .field__item {
          font-size: 1rem;
          padding-bottom: 1rem;
        }
        .field--name-field-product-categories,
        .field--name-field-tags {
          .field__items {
            font-size: 1rem;
          }
        }
        .products-links {
          margin-bottom: 2rem;
          .ask-link,
          .field--name-field-d-product-link {
            a {
              width: 100%;
              padding: 0.9rem;
              min-width: 7rem;
            }
          }
          .ask-link {
            a {
              @extend .btn-outline-primary;
            }
          }
          @include media-breakpoint-down(md) {
            margin-top: 1.2rem;
          }
        }
      }
    }
  }
}
