/*
Form paragraph.

Styleguide components.d_p.d_p_text_with_bckg
*/

// Colour variables used in this paragraph.
$d-p-text-with-bckg-background-overlay: $color-odysseus !default;
$d-p-text-with-bckg-line-color: $line-background !default;
$d-p-text-with-bckg-header-color: $color-cassandra !default;

// Margins, paddings and sizing.
$d-p-text-with-bckg-button-margin-top: 3.125rem !default;
$d-p-text-with-bckg-padding-top: 6.5% !default;
$d-p-text-with-bckg-padding-bottom: 6.5% !default;
$d-p-text-with-bckg-mobile-padding-top: 6.25rem !default;
$d-p-text-with-bckg-mobile-padding-bottom: 6.25rem !default;
$d-p-text-with-bckg-line-margin-top: $line-center-margin-top !default;
$d-p-text-with-bckg-line-margin-bottom: $line-center-margin-bottom !default;

// Other settings
$d-p-text-with-bckg-img-opacity: 0.1 !default;

.d-p-text-with-bckg {
  background: $d-p-text-with-bckg-background-overlay;
  z-index: 0;
  text-align: center;

  h2 {
    @include font-main-header;
    color: $d-p-text-with-bckg-header-color;
    text-align: center;
  }
  .field--name-field-d-icon {
    text-align: center;
  }
  h3.field--name-field-d-subtitle {
    @include font-subtitle;
    text-align: center;
  }
  p {
    @include font-body-standard;
    line-height: 1.7;
  }

  h2 + .field--type-link,
  h3 + .field--type-link,
  .field--name-field-d-long-text {
    p {
      word-wrap: break-word;
      hyphens: auto;
    }
    &:before {
      @include decoration-header-line-main-center;
      background: $d-p-text-with-bckg-line-color;
      margin-top: $d-p-text-with-bckg-line-margin-top;
      margin-bottom: $d-p-text-with-bckg-line-margin-bottom;
    }
  }
  .field--type-link {
    text-align: center;
    a {
      margin-top: $d-p-text-with-bckg-button-margin-top;
    }
  }
  .backstretch-item {
    img {
      opacity: $d-p-text-with-bckg-img-opacity;
      @include media-breakpoint-down(sm) {
        max-width: none;
        width: 100%;
        overflow: hidden;
      }
    }
  }
  .content-wrapper {
    width: 100%;
    padding-top: $d-p-text-with-bckg-padding-top;
    padding-bottom: $d-p-text-with-bckg-padding-bottom;
    @include media-breakpoint-down(sm) {
      padding-top: $d-p-text-with-bckg-mobile-padding-top;
      padding-bottom: $d-p-text-with-bckg-mobile-padding-bottom;
    }
  }
}
